* {
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    background-color: palegreen;
}

/* Top Layout */

.header {
    color: white;
    background: coral;
    border-bottom: solid black 3px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5em;
    height: 2.5em;
    padding-top: .8em;
}

.subheader {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 1.2em;
}

.intro {
    text-align: center;
}

.top {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .2em;
    padding-left: .5em;
    padding-right: .5em;
    border-bottom: solid black 4.2px;
}
/* Form Layout */

.contact {
    border-top: solid black 1.5px;
    margin: 0 auto;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.2em;
}


fieldset {
    border: none;
}

form {
    display: flex;
    margin: 1em auto;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    font-weight: lighter;
}

.content {
    background-color: gainsboro;
    flex-basis: auto;
    flex-grow: 2;
    width: 100%;
    height: 40px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding-top: .1em;
    margin-bottom: 10px;
    margin-top: 8px;
}

input {
    transition: background-color 2s, bordercolor 2s;
}

input:focus {
    background-color: coral;
   border: solid 1px forestgreen;
    font-weight: bold;
    text-align: left;
}

label {
flex-basis: auto;
flex-grow: 1;
width: 50%;
margin-bottom: 10px;
margin-top: 10px;
padding-top: 10px;
padding-bottom: 10px;
}

input[placeholder] {
    text-align: right;
    font-style: italic;
    padding-right: 1.5em;
    font-size: .7em;
}

input {
    padding-top: 10px;
}

select {
    background-color: gainsboro;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-size: .5em;
    margin-bottom: 10px;
    color: gray;
    padding-left: 4px;
}

#zip {
    width: 40%;
}

/* Newsletter Layout */

.news {
    border-top: solid black 1.5px;
    width: 100%;
    padding-top: 1em;
    padding-bottom: .5em;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.2em;
}


ul {
    padding-left: 0;
    padding-top: .5em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

li {
    align-items: flex-start;
    flex: 0 1 auto;
    padding-bottom: 10px;
}

.selnews {
    padding-bottom:.5em;
}

.format {
    padding-top: .5em;
    padding-bottom: .2em;
}

.topics {
    margin-left: .5em;
}

label[for="signup"]{
    visibility: hidden;
}

textarea {
    background-color: gainsboro;
    width: 90%;
    margin-left: .5em;
    margin-top: 10px;
    border: 1px solid gainsboro;
    border-radius: 4px;
}

input[type="submit"]{
    font-size: 1.5em;
    margin-top: 1em;
    background-color: coral;
    color: black;
    text-align: center;
    border: 1px solid black;
    width: 90%;
    margin-left: .5em;
    margin-right: .5em;
    border-radius: 4px;
    height: 2.5em;
}

footer {
    text-align: center;
    font-style: italic;
    min-height: 100vh;
}

/* ~~~~~~~~ Media Queries ~~~~~~~~ */

@media screen and (min-width: 768px) {

 form {
     margin: 1em auto;
 }
 .top {
     display: flex;
     flex-direction: column;
}

.subheader {
    margin-bottom: 5px;
}


.firstsec {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}



#zip {
    max-width: 200px;
    margin-right: 355px;
}

.cats {
    flex-basis: 25%;
    flex-grow: 1;
    width: 30%;
}

.content {
flex-basis: 75%;
flex-grow: 3;
width: 70%;
}

textarea {
    width: 100%;
}


}